
* {
    font-family: 'Times New Roman', 'Georgia', serif;
}

body {
    background-color: rgb(240, 172, 240);
}

a {
    color: black;
    font-size: 26px;
}

.page_title {
    text-align: center;
    background-color:rgb(47, 0, 68);
    color: white;
}

div {
    padding: 20px;
}

.description {
    background-color: rgb(245, 198, 245);
}

.ingredients {
    background-color: rgb(203, 125, 227);
}

.steps {
    background-color: rgb(185, 94, 213);
}

li {
    font-size: 20px;
}